<div class="outerContainer">

    <div class="formsContainer">
        <!-- forms example -->
        <p class="p">Origin segment</p>
        <input class="input location-input" [(ngModel)]="origin"><br>
        <p class="p">Destination segment</p>
        <input class="input location-input" [(ngModel)]="dest"><br>
        <button class="button calculate-button" (click)="route()">Calculate route</button>
    </div>

    <div class="mapContainer" (leafletMapReady)="mapReady($event)"
         leaflet
         [leafletOptions]="options"
         [leafletLayers]="layers">
    </div>
</div>







