<div class="outerContainer">
    <div class="formsContainer">
        <p style="margin-top: 0;" class="p function-title">Model</p>
        <div class="content-box">

            <button type="submit" class="button calculate-button"
                    [ngClass]="{'is-active': usingSegmentModel}" (click)="useSegmentModel(true)">
                Segment</button>

            <button type="submit" class="button calculate-button"
                    [ngClass]="{'is-active': !usingSegmentModel}" (click)="useSegmentModel(false)">
                Supersegment</button>
        </div>


        <p style="margin-top: 0;" class="p function-title">Rute</p>
        <div *ngIf="estimateShown" class="content-box">
            <select class="select model-select" [(ngModel)]="selectedTrip" (change)="showTrip()">
                <option *ngFor="let trip of availableTrips" [ngValue]="trip">{{trip}}</option>
            </select>

            <div *ngIf="tripLoaded" class="box resultsContainer">
                <!--<div class="navbar-divider"></div>-->
                <p class="results-p">
                    <i class="mdi mdi-map-marker-distance" aria-hidden="true"></i>
                    {{tripDistance | number:'0.0-5':'en-DK' }} km
                </p>
                <p>Actual</p>
                <p class="results-p">
                    <i class="mdi mdi-flash" aria-hidden="true"></i>
                    {{tripActualCost | number:'0.0-5':'en-DK'}} kWh
                </p>
                <p>Model</p>
                <p class="results-p">
                    <i class="mdi mdi-flash" aria-hidden="true"></i>
                    {{tripModelCost | number:'0.0-5':'en-DK'}} kWh
                </p>
                <p class="results-p">
                    <i class="mdi mdi-block-helper" aria-hidden="true"></i>
                    {{tripModelAbsError | number:'0.0-5':'en-DK'}} kWh
                </p>
                <p class="results-p">
                    <i class="mdi mdi-block-helper" aria-hidden="true"></i>
                    {{tripModelPercentageError | number:'0.0-2':'en-DK'}} %
                </p>
                <p>Baseline</p>
                <p class="results-p">
                    <i class="mdi mdi-flash" aria-hidden="true"></i>
                    {{tripBaselineCost | number:'0.0-5':'en-DK'}} kWh
                </p>
                <p class="results-p">
                    <i class="mdi mdi-block-helper" aria-hidden="true"></i>
                    {{tripBaselineAbsError | number:'0.0-5':'en-DK'}} kWh
                </p>
                <p class="results-p">
                    <i class="mdi mdi-block-helper" aria-hidden="true"></i>
                    {{tripBaselinePercentageError | number:'0.0-2':'en-DK'}} %
                </p>
            </div>
        </div>
    </div>

    <div class="mapContainer" (leafletMapReady)="mapReady($event)"
         leaflet
         [leafletOptions]="options"
         [leafletLayers]="layers">
    </div>
</div>







