p {
    margin-bottom: 2px;
}

.outerContainer {
    display: flex;
    height: 100%;
}

.formsContainer {
    width: 300px;
    padding: 10px;
}

.mapContainer {
    width: 100%;
}

.location-input {
    margin-bottom: 15px;
}

.calculate-button {
    margin-bottom: 10px;
    width: 100%;
}

.navbar-divider {
    background: #ddd;
    margin-bottom: 15px;
}

.resultsContainer {
    width: 100%;
    background: #fff;
}

.dark {
    background: #000;
}

.model-select {
    width: 100%;
    margin-bottom: 10px;
}

.results-p {
    margin-bottom: 6px;
    font-size: 18px;
}

.function-title {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}

.function-p {
    margin-left: 5px;
}

.content-box {
    border: solid 2px #ddd;
    padding: 10px;
}




.divider-container {
    display: flex;
    width: 100%;
}
.divider-with-text {
    background-color: #ddd;
    height: 2px;
    width: 100%;
    margin: auto;
}
.divider-text {
    margin: 0 5px;
}


