<div class="outerContainer">
    <div class="formsContainer">
        <p style="margin-top: 0;" class="p function-title">Model</p>
        <div class="content-box">

            <button type="submit" class="button calculate-button"
                    [ngClass]="{'is-active': usingModel === 'supersegment'}" (click)="changeModel('supersegment')">
                Supersegment</button>
            <button type="submit" class="button calculate-button"
                    [ngClass]="{'is-active': usingModel === 'segment-emb'}" (click)="changeModel('segment-emb')">
                Segment Emb</button>
            <button type="submit" class="button calculate-button"
                    [ngClass]="{'is-active': usingModel === 'segment'}" (click)="changeModel('segment')">
                Segment</button>
            <button type="submit" class="button calculate-button"
                    [ngClass]="{'is-active': usingModel === 'baseline'}" (click)="changeModel('baseline')">
                Baseline</button>
        </div>


        <p style="margin-top: 0;" class="p function-title">Rute</p>
        <div *ngIf="estimateShown" class="content-box">
            <select class="select model-select" [(ngModel)]="selectedTrip" (change)="loadTrip()">
                <option *ngFor="let trip of availableTrips" [ngValue]="trip">{{trip}}</option>
            </select>

            <button type="submit" class="button calculate-button"
                    [ngClass]="{'is-active': pointSeparation}" (click)="usePointSeparation()">
                Punkt separation</button>

            <div *ngIf="tripLoaded" class="box resultsContainer">
                <!--<div class="navbar-divider"></div>-->
                <p class="results-p">
                    <i class="mdi mdi-map-marker-distance" aria-hidden="true"></i>
                    {{tripDistance | number:'0.0-2':'en-DK' }} km
                </p>
                <p class="results-p">
                    <!--<i class="mdi mdi-map-marker-distance" aria-hidden="true"></i>-->
                    # {{tripSegmentsNum | number:'0.0-0':'en-DK' }}
                </p>
                <p class="results-p">
                    Faktisk
                    <i class="mdi mdi-flash" aria-hidden="true"></i>
                    {{tripActualCost | number:'0.0-2':'en-DK'}} Wh
                </p>

                <!--<p>Supersegment</p>-->
                <p class="results-p">
                    Estimeret
                    <i class="mdi mdi-flash" aria-hidden="true"></i>
                    {{tripPredictedCost | number:'0.0-2':'en-DK'}} Wh
                </p>
                <p class="results-p">
                    <i class="mdi mdi-block-helper" aria-hidden="true"></i>
                    MAE: {{tripMAError | number:'0.0-2':'en-DK'}} Wh
                </p>
                <p class="results-p">
                    <i class="mdi mdi-block-helper" aria-hidden="true"></i>
                    MAME: {{tripMAMError | number:'0.0-2':'en-DK'}} Wh/m
                </p>
                <p class="results-p">
                    <i class="mdi mdi-block-helper" aria-hidden="true"></i>
                    {{tripErrorPercentage | number:'0.0-2':'en-DK'}} %
                </p>
            </div>
        </div>
    </div>

    <div class="mapContainer" (leafletMapReady)="mapReady($event)"
         leaflet
         [leafletOptions]="leafOptions"
         [leafletLayers]="leafLayers">
    </div>
</div>







