syntax: glob

node_modules
.c9revisions
.DS_Store
Thumbs.db

*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
include
man
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Model data
data
*.edges
*.emb
Models/Baseline/ev_wh_prediction.csv
Models/Baseline/model.csv

# Pycharm/IntelliJ
.idea
*.iml

*.csv

Baseline/segment_predictions.csv
Baseline/predictions.csv
Baseline/model.csv
Baseline/ev_wh_prediction.csv
LocalSettings.py
venv

data/

# Keras
#Models/Keras-Regressor/saved-**
Models/Keras-Regressor/ev_wh_prediction.csv
Models/Keras-Regressor/saved_history/
Models/Keras-Regressor/saved_models/
Models/Keras-Regressor/saved_scaler/
Models/Keras-Regressor/saved_embeddings/

Backend/map/
Backend/model/
Backend/db_settings.py

Embeddings/LINE/line_input.csv


