# model
numpy==1.14.3
psycopg2==2.7.5
SQLAlchemy==1.2.15
matplotlib==2.2.2
networkx==2.1
Keras==2.2.4
pandas==0.23.4
easydict==1.9
scikit_learn==0.20.2
tensorflow==2.5.0
discord

# backend
flask==1.0.2
flask_cors
xmltodict
geojson

